/*
Site Name: Nettuts+
Site URI: http://net.tutsplus.com/
Description: HTML5 Resume that Includes Schema.org Microdata Tutorial | Demo | Dark Blue
Version: 1.0
Author: Janet Wagner
Author URI:  http://www.WebCodePro.net/
*/


/*  Color Reference
---------------------------------------------------

Green: #0066cc
Medium Gray: #dcdcdc
Light Gray: #eee

*/



/* Default Styles
--------------------------------------------------- */

body {
	margin: 0px;
	padding: 0px;
	background: url("../images/bg_dark_blue.png");  
	background-color: inherit;
	font-size: 16px; 
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	color: #000;
}

a:link { 
	text-decoration: underline;
	color: #000;
	font-weight: bold;
}

a:visited { 
	text-decoration: underline;
	color: #000;
	font-weight: bold;
}

a:hover { 
	text-decoration: underline;
	color: #0066cc;
	font-weight: bold;
}

a:active { 
	text-decoration: underline;
	color: #000;
	font-weight: bold;
}

#wrapper	{
	width: 965px;
	margin: 0 auto;	
}

#content {
	background-color: #eee;
	width: 960px;
	text-align: left;
	overflow: auto;
	position: relative;
	margin: 25px 0px 25px 0px;
	border: #fff solid 2px;
}

.clear	{
	float: none;
	clear: both;
	margin: 5px 0px 10px 0px;
}

hr { 
    display: block;
    margin-top: 0.0em;
    margin-bottom: 0.0em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 1px;
} 

/* Header
--------------------------------------------------- */


#contact-details .header_1 {
	float: left;
	width: 350px;
	text-align: center;
	margin: 20px 0px 0px 20px;
}

#contact-details .header_1 img {
	border: #fff solid 4px;
	background: url("../images/bg_img_dark_blue.png"); 
	padding: 16px;
	margin: 10px 0px 0px 0px;
}

#contact-details .header_2 {
	float: left;
	width: 570px;
	margin: 20px 0px 0px 10px;
}

#contact-details .header_2 a {
	font-weight: normal;
}

#contact-details  h1	{
	margin: 0px 0px 0px 20px;
	font-size: 52px;
	font-weight: bold;
}

#contact-details  h3	{
	margin: 0px 0px 20px 20px;
	font-size: 30px;
	font-weight: bold;
	font-style: italic;
}

#contact-details ul.info_1	{
	list-style: none;
	margin: 0px 0px 0px -12px;
	font-size: 18px;
}

#contact-details ul.info_2	{
	list-style: none;
	margin: 0px 0px 5px -12px;
	font-size: 18px;
}

#contact-details li.address	{
    background: url("../images/home.png") no-repeat;
	background-position: 0px 0px;
    padding: 0px 0px 10px 40px;
}

#contact-details li.phone	{
    background: url("../images/phone.png") no-repeat;
	background-position: 0px 0px;
    padding: 0px 0px 10px 40px;
}

#contact-details li.email	{
    background: url("../images/mail.png") no-repeat;
	background-position: 0px 0px;
    padding: 0px 0px 10px 40px;
}

#contact-details li.site_url	{
    background: url("../images/computer.png") no-repeat;
	background-position: 0px 2px;
    padding: 0px 0px 12px 40px;
}

#contact-details li.github	{
    background: url("../images/github_logo.png") no-repeat;
	background-position: 0px 0px;
    padding: 0px 0px 10px 40px;
}

  
/* Main Content
--------------------------------------------------- */

td.rt {
	text-align: right;
}

td.bd{
	font-weight: bold;
}

h2.top	{
	margin: 0px; 
	font-size: 22px;
	font-weight: bold;
}

h3.top	{
	margin: 0px; 
	font-size: 20px;
	font-style: italic;
}

h2	{
	margin: 40px 0px 0px 0px; 
	font-size: 22px;
	font-weight: bold;
}


dl	{
	margin: 0px 50px 0px 0px;
}


dt	{
	float: left;
	width: 150px;
	font-size: 22px;
	font-weight: bold;
	font-style: italic;
	text-align: right;
}

dd	{
	width: 700px; 
	float: right;
	margin-right: 20px;
}

dl#contact 	{
	margin: 0px;
}

dt#contact 	{
	margin: 0px;
}

dd#contact 	{
	margin: 0px;
}

p.bus1	{
	margin: 0px;
	font-weight: bold;
	color: #0066cc;
}

p.edu-info	{
	margin: 0px 0px 0px 0px;
	font-weight: bold;
	color: #0066cc;
}

p.edu-info a	{
	color: #000;
}

p.edu-info a:hover	{
	color: #0066cc;
}

p.time	{
	margin: 0px;
}

p.profile	{
	margin: 5px 0px 0px 0px;
}

p.summary	{
	margin: 0px 0px 0px 0px;
}


#skills ul.list1	{	
	float: left;
	list-style: none;
	margin: 0px 0px 0px -40px;
	width: 200px;
}

#skills ul.list2	{	
	float: left;
	list-style: none;
	margin: 0px 0px 0px 0px;
	width: 200px;
}

#skills ul.list3	{	
	float: left;
	list-style: none;
	margin: 0px 0px 0px 40px;
	width: 150px;
}

#skills li {
    background: url("../images/bullet_blue.png") no-repeat;
	background-position: 0px 2px;
    padding: 0px 0px 0px 25px;
}

abbr	{
	border-width: 0px;
}

